body{
    background-color: #f0fafa;
}
.navbar{
    background-color: #669900 !important;
}

.navbar .nav-item .nav-link{
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
}

.nav-link:hover, .logoU:hover{
    background-color: #5c8112;
    margin-right: .2rem;
    
}

.mt-4.text-center.col-md-12 {
    font-size: 15pt;
    color: #669900;
}

.caption-back{
    background-color:rgba(0,0,0,.5);
    border-radius: 15rem;
}

.navbar-toggler{
    background-color: #8fc02c;
}

.carousel-item > p{
    margin: 0;
    color: #7f8c8c;
    font-size: 15pt;
    background-color: #f5f5f5;
    text-shadow: none;
    text-align: center;
}

.nav2{
    background-color: #84c20a !important;
}

.form-control {
    font-style: italic;
    font-size: 14px;
}

.col-md-6 a{
    color: #7f8c8c;
}

.text-center h4{
    color:#8fc02c; 
}

p.mt-2{
    color: #7f8c8c;
    text-align: center;
}

.item{
    background-color: #fcfcfc;
    margin-left: 2rem;
    margin-top: 2rem;
    padding-top: 2rem;
    margin-right: 2rem;
}

.item p{
    color: #7f8c8c;
    font-weight: 500;
    margin-top: 1rem ;
}

.saber-mas{
    background-color: #bdda82;
    padding: 6px 0px 6px ;
}

.col-md-3 a:link{
    text-decoration: none;
}

.contacto{
    background-color: #669900;
    padding-top: 4px;
}

.item-footer{
    padding-top: 1rem;
    border-right: 1px solid #b2cc90;
    margin-top: 15px;
    margin-bottom: 15px;
}

.li-footer,.li-footer2{
    color: #b2cc90 !important;
}

.li-footer:hover{
    background-color: #5c8112;
    padding-left: 4px;
    border-radius: 12rem;
}

.contacto .float-right ul a:link{
    background-color: #5c8112;
    text-decoration: none;
}

strong{
    background-color: #5c8112;
    padding: 2px 1rem 2px 1rem;
    border-radius: 3rem;
}

.col-left{
    margin-left: 10px;
}

.li-footer2 span{
    font-style: italic;
    font-size: 130%;
    font-family: Open Sans,sans-serif;
}

.row.contacto.mt-2{
    margin-right: 0;
}